# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
pandas
scikit-learn==1.2.2
joblib
numpy==1.24.2
scikit-surprise==1.1.3